.carousel-item img {
  max-height: 120px; 
  object-fit: cover;
  width: 100%;
}
.carousel-caption {
  padding: 0.1rem;
  border-radius: 0.5rem;
}
#carouselExample{
  margin-top: 0;
}
.text-shadow{
  font-weight: bold;
  color: white;
  text-shadow: 
    2px 2px 0px #000, 
    -2px -2px 0px #000,
    2px -2px 0px #000,  
    -2px 2px 0px #000;  
}
#offers, #latest {
  background-color: transparent;
}
.card-body:hover{
  cursor: pointer;
}
.card-img:hover{
  cursor: zoom-in;
}
.btn-card{
  color: white;
  background-color: #112c80 !important;
}