<hr class="border border-2">
<div class="d-flex my-4">
    <div class="container">
        <div class="row gap-5 p-3">
          <div class="option-container col py-2 rounded fw-bold">
            <form class="p-4 border rounded bg-light my-3 ms-5">
                <div class="mb-3">
                  <label for="direccion" class="form-label fs-5">Dirección</label>
                  <input type="text" id="direccion" formControlName="direccion" class="form-control" placeholder="Introduce la dirección">
                </div>
              
                <div class="mb-3">  
                  <label for="juego" class="form-label fs-5">Juego</label>
                  <select id="juego" class="form-control" style="width: 100%">
                    <option value="" data-icon="bi bi-chevron-down">--Selecciona una opción--</option>
                    <option value="Magic" data-icon="bi bi-arrow-right-short">Magic: The Gathering</option>
                    <option value="Pokemon" data-icon="bi bi-arrow-right-short">Pokemon</option>
                    <option value="One Piece" data-icon="bi bi-arrow-right-short">One Piece</option>
                    <option value="Star Wars" data-icon="bi bi-arrow-right-short">Star Wars</option>
                    <option value="Lorcana" data-icon="bi bi-arrow-right-short">Lorcana</option>
                    <option value="Yu Gi Oh" data-icon="bi bi-arrow-right-short">Yu Gi Oh</option>
                  </select>
                </div>

                <div class="mb-3">  
                  <label for="fecha" class="form-label fs-5">Fecha</label>
                  <input type="date" id="fecha" class="form-control">
                </div>
              
                <div class="mb-3">
                  <label for="descripcion" class="form-label fs-5">Descripción</label>
                  <textarea id="descripcion" class="form-control" rows="3" placeholder="Describe el evento..."></textarea>
                </div>
                <button (click)="enviarForm($event)" class="btn btn-primary">Crear evento</button>
            </form>    
          </div>
          <div class="text-center option-container col py-2 rounded fw-bold fs-3 border border-3 text-white">
            MIS EVENTOS 
            <hr>
            <div class="overflow-auto" style="max-height: 70vh;">
              <div class="fs-4 h-75 flex-column">
              
                <ng-container *ngIf="eventos && eventos.length > 0; else noEventos">
                  <ng-container *ngFor="let evento of eventos | slice:0:10">
                    <div class="mb-3">
                      <div class="row g-0 w-100">
                        <div class="col-md-8">
                          <div [id]="evento.id" class="card-body d-flex justify-content-around">
                            <a>
                              <h6 class="text-secondary">Dirección: {{ evento.direccion }}</h6>
                              <h5 class="card-text fw-bold">Juego: {{ evento.juego }}</h5>
                              <h5 class="card-text">Fecha: {{ evento.fecha }}</h5>
                              <h5 class="card-text">{{ evento.descripcion }}</h5>
                            </a>
                            <button [id]="evento.id" class="fw-bold" (click)="removeEvento(evento.id)">X</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
            
                <ng-template #noEventos>
                  <span class="text-center mx-2">
                    Upss... Demasiado vacío. <br> ¡Intenta crear un evento nuevo!
                  </span>
                </ng-template>
            
              </div>
            </div>
          </div>          
        </div>
      </div>
</div>
