<div class="my-4 mx-4 bg-dark rounded">
    <div class="container">
        <div *ngIf="producto; else cargando">
            <div class="row">
            <div class="col-md-6">
                <img [src]="'images/logo.png'" alt="{{ producto.nombre }}" class="img-fluid rounded">
            </div>
            <div class="col-md-6 text-white my-5">
                <h2 class="mb-3">{{ producto.nombre }}</h2>
                <p class="fs-5"><strong>Expansión:</strong> {{ producto.expansion }}</p>
                <p class="fs-5"><strong>Precio:</strong> {{ producto.precio }} €</p>
                <p class="fs-5"><strong>Estado:</strong> {{ producto.estado }}</p>
                
                <h4 class="mt-4">Descripción:</h4>
                <p>"Descripcion magica en caminoooo"</p>

                <button class="btn btn-primary mt-4" (click)="agregarAlCarrito(producto)">Comprar</button>
            </div>
            </div>
        </div>
        
        <ng-template #cargando>
            <div class="text-center text-white py-5">
            <p class="fs-3">Cargando detalles del producto...</p>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
            </div>
        </ng-template>
    </div>
</div>    