<h1 class="mt-4 ms-5 text-white">Términos y Condiciones de MulliWizards</h1>

<div class="container text-white">
    <section id="informacion-general" class="mt-4">
        <h2 class="section-header">Información General</h2>
        <p class="ms-4">
            En cumplimiento de lo establecido en el artículo 10 de la Ley 34/2002, de 11 de julio, de
            los Servicios
            de la Sociedad de la Información y Comercio Electrónico, se expone la siguiente información:
        </p>
        <ul class="list-unstyled ms-4">
            <li><strong>Denominación Social:</strong> MulliWizards S.L.</li>
            <li><strong>Domicilio Social:</strong> C. Mercator, 4, Puente de Vallecas, 28031 Madrid</li>
            <li><strong>Registro Mercantil:</strong> Registro Mercantil de Madrid</li>
            <li><strong>NIF:</strong> B12345678</li>
            <li><strong>Correo Electrónico:</strong> mulliwizards&#64;gmail.com</li>
            <li><strong>Número de teléfono:</strong> +34 612345678</li>
        </ul>

        <div id="mapa" class="mt-4 mb-5" style="width: 100%; height: 400px;">
            <h5>
                En <strong class="text-success">verde</strong> la dirección de MulliWizards en el mapa, en
                <strong class="text-primary">azul</strong> la del usuario
            </h5>
        </div>
        <section id="alcance-servicios" class="mt-4">
            <h2 class="section-header">Alcance de los servicios</h2>
            <p class="ms-4">La Plataforma MulliWizards permite a los usuarios registrados (en adelante, "Usuarios")
                adquirir cartas coleccionables, accesorios y otros artículos relacionados (en
                adelante, los "Productos").

                MulliWizards no garantiza la disponibilidad continua de la Plataforma o el funcionamiento de la red de
                Internet.
                El acceso y uso de la Plataforma está sujeto a la disponibilidad de la red de Internet y otras
                situaciones ajenas al control de MulliWizards.

                El Usuario acepta que el uso de los servicios de MulliWizards se realiza bajo su propia responsabilidad.
            </p>
        </section>

        <section id="cuenta-usuarios" class="mt-4">
            <h2 class="section-header">Cuenta de usuario</h2>
            <p class="ms-4">Para realizar compras, el Usuario debe registrarse en la Plataforma, proporcionando
                información veraz y
                actualizada como nombre completo y dirección de correo electrónico. El
                Usuario también deberá proporcionar un medio de pago válido para completar sus compras.

                El Usuario se compromete a mantener la confidencialidad de sus datos de acceso y a notificar cualquier
                cambio en su información personal.</p>
        </section>

        <section id="realizar-compra" class="mt-4">
            <h2 class="section-header">Cómo realizar una compra</h2>
            <p class="ms-4">Una vez registrado, el Usuario puede seleccionar los productos que desea adquirir. Estos
                productos serán
                añadidos a su "carrito de compras", desde donde podrá revisar, modificar o eliminar productos antes de
                proceder con el pago. Los precios de los productos incluyen impuestos, pero los gastos de envío se
                calcularán al finalizar la compra.

                MulliWizards se reserva el derecho de cancelar o modificar la compra en caso de que los productos
                seleccionados no estén disponibles o si se detecta un error en los precios.</p>
        </section>

        <section id="limite-responsabilidad" class="mt-4">
            <h2 class="section-header">Limitación de responsabilidad de MulliWizards</h2>
            <p class="ms-4">MulliWizards no se responsabiliza de los daños derivados del uso indebido de la Plataforma o
                del acceso no
                autorizado a la cuenta del Usuario. Tampoco será responsable de los problemas en el envío o recepción de
                productos por error en la dirección proporcionada.</p>
        </section>

        <section id="precio-y-pago" class="mt-4">
            <h2 class="section-header">Precio y pago por el producto y su envío</h2>
            <p class="ms-4">Los precios de los productos están en euros e incluyen los impuestos aplicables.

                El Usuario puede realizar el pago a través de tarjetas de crédito/débito o mediante otros métodos de
                pago disponibles en la Plataforma.</p>
        </section>


        <section id="garantia-y-cancelaciones" class="mt-4">
            <h2 class="section-header">Garantía y Cancelaciones</h2>
            <p class="ms-4">Los productos vendidos en la Plataforma cumplen con las garantías legales aplicables. El
                Usuario puede
                cancelar su pedido en cualquier momento hasta dos horas antes del inicio de la franja horaria de
                entrega.

                En caso de cancelación, MulliWizards procederá con el reembolso de las cantidades pagadas en un plazo no
                superior a 48 horas.</p>
        </section>

        <section id="devoluciones" class="mt-4">
            <h2 class="section-header">Devoluciones</h2>
            <p class="ms-4">El Usuario tiene derecho a desistir de su compra en un plazo de 14 días naturales desde la
                recepción del
                pedido, siempre que los productos no sean perecederos. Los productos deben devolverse en su embalaje
                original y sin signos de uso. En el caso de productos defectuosos o dañados, MulliWizards se encargará
                de
                la devolución sin coste adicional para el Usuario.</p>
        </section>

        <section id="propiedad-intelectual" class="mt-4">
            <h2 class="section-header">Propiedad intelectual e industrial</h2>
            <p class="ms-4">Los contenidos de la Plataforma, incluyendo logotipos, imágenes, textos y otros elementos
                protegidos por
                derechos de propiedad intelectual o industrial, son propiedad de MulliWizards o de terceros que han
                autorizado su uso.

                El Usuario se compromete a no utilizar estos contenidos sin el permiso expreso de MulliWizards o de los
                titulares correspondientes.</p>
        </section>

        <section id="reclamaciones" class="mt-4">
            <h2 class="section-header">Reclamaciones</h2>
            <p class="ms-4">Cualquier consulta o reclamación puede enviarse a través del correo electrónico
                mulliWizards&#64;gmail.com
                MulliWizards se compromete a resolver las reclamaciones en un plazo de 72 horas.</p>
        </section>

        <section id="cookies" class="mt-4">
            <h2 class="section-header">Uso de cookies</h2>
            <p class="ms-4">Este sitio web utiliza cookies para mejorar la experiencia del usuario y garantizar una autenticación 
                segura mediante Laravel Sanctum. Una cookie es un pequeño archivo de texto que se almacena en tu dispositivo. 
                Utilizamos cookies para recordar tu consentimiento sobre el uso de cookies y para mantener tu sesión iniciada de forma segura mientras navegas por nuestra plataforma. 
                Estas cookies son necesarias para el correcto funcionamiento del sistema de inicio de sesión y para acceder a funciones protegidas como tu cuenta o historial de compras. 
            </p>
        </section>

        <section id="modificacion-terminos" class="mt-4">
            <h2 class="section-header">Modificación de los Términos y Condiciones</h2>
            <p class="ms-4">MulliWizards se reserva el derecho de modificar estas Condiciones Generales en cualquier
                momento. Las
                modificaciones serán publicadas en la Plataforma, y el Usuario será notificado de las actualizaciones
                antes de que entren en vigor.</p>
        </section>
        <p class="ms-4">&copy; 2025 MulliWizards S.L. Todos los derechos reservados.</p>
    </section>
</div>