<nav class="navbar navbar-expand-lg bg-primary fw-bold sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand w-50" href="">
        <img id="logo" src="images/logo.png" alt="Logo" class="ms-4 img-fluid ms-auto">
        <span class="fs-5">MulliWizards</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex me-5" role="search">
          <input class="form-control me-2 custom-input" type="search" placeholder="Buscador mágico" aria-label="Search">
          <button #myButton class="btn" type="submit">Buscar</button>
        </form>
      </div>
      <a href="" class="text-decoration-none"><i #myLink class="fa-solid fa-user fs-4"></i></a>
      <a href="" class="text-decoration-none"><i #myLink class="fa-solid fa-cart-shopping fs-4"></i></a>
    </div>
  </nav>
    <ul class="tcgs d-flex justify-content-around w-100 list-unstyled mb-3 fw-bold fs-5 p-2">
      <li><a #myLink class="tcg-type text-decoration-none" href="">Magic: The Gathering</a></li>
      <li><a #myLink class="tcg-type text-decoration-none" href="">Yu Gi Oh</a></li>
      <li><a #myLink class="tcg-type text-decoration-none" href="">Pokemon</a></li>
      <li><a #myLink class="tcg-type text-decoration-none" href="">Lorcana</a></li>
      <li><a #myLink class="tcg-type text-decoration-none" href="">Star Wars</a></li>
      <li><a #myLink class="tcg-type text-decoration-none" href="">One Piece</a></li>
    </ul>
  <a href=""><i class="bubble fa-regular fa-comments fs-3 bg-primary rounded-circle p-2  shadow chat position-fixed bottom-3 end-3 text-black"></i></a>
  
