<nav class="navbar navbar-expand-lg bg-primary fw-bold sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="images/logo.png" alt="Logo" class="ms-4 img-fluid w-75">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex me-5" role="search">
        <input class="form-control me-2 custom-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark bg-black" type="submit">Search</button>
      </form>
    </div>
    <a href="" class="text-decoration-none text-black"><i class="fa-solid fa-user fs-4"></i></a>
    <a href="" class="text-decoration-none text-black"><i class="fa-solid fa-cart-shopping fs-4"></i></a>
  </div>
</nav>
  <ul class="d-flex justify-content-around w-100 list-unstyled my-3 text-primary fw-bold">
    <li><a href="">Magic: The Gathering</a></li>
    <li><a href="">Yu Gi Oh</a></li>
    <li><a href="">Pokemon</a></li>
    <li><a href="">Lorcana</a></li>
    <li><a href="">Star Wars</a></li>
    <li><a href="">One Piece</a></li>
  </ul>
<hr>
<a href=""><i class="fa-regular fa-comments fs-3 bg-primary rounded-circle p-2 border border-2 shadow chat position-fixed bottom-3 end-3 text-light"></i></a>
