/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
body {
    background-image: url("assets/images/fondo.jpg"); /* Ruta de la imagen */
    background-position: center;
    background-repeat: repeat;
    backdrop-filter: blur(35px);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html, body {
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
  }
