<div class="text-center pt-4 text-white">
  <h1 class="text-uppercase">Bienvenido a la sección de eventos</h1>
  <span class="h4">¡Elige una opción y empieza a disfrutar de unas partidas a la par que conoces gente nueva!</span>
</div>
  
<div class="container text-center my-4">
  <div class="row gap-3 p-3">
    <a [routerLink]="['/events/events-view']" class="option-container col py-2 rounded fw-bold fs-3 border border-3 text-white text-decoration-none">
      <i class="fa-solid fa-eye fs-2"></i><br>
      CONSULTAR EVENTOS
      <h6 class="subheader text-secondary">Busca y consulta los eventos de otras personas por tu zona</h6>
    </a>
    <a [routerLink]="['/events/event-handler']" class="option-container col py-2 rounded fw-bold fs-3 border border-3 text-white text-decoration-none">
      <i class="fa-solid fa-plus fs-2"></i><br>
      CREAR O EDITAR UN EVENTO
      <h6 class="subheader text-secondary">Crea un evento propio en el lugar que desees</h6>
    </a>
  </div>
</div>

  <router-outlet></router-outlet>
  